@using UserServices.ViewModels
@model EditPasswordViewModel
<head>

</head>
<body>
    <div asp-validation-summary="ModelOnly"></div>

    <form method="post" asp-action="EditPassword" asp-controller="Account">
        <label>رمز عبور فعلی</label>
        <input asp-for="@Model.OldPassword" type="password" class="form-control"/>    

        <label>رمز عبور جدید</label>
        <input asp-for="@Model.NewPassword" type="password" class="form-control"/>    

        <input type="submit" value="ویرایش رمز عبور" class="btn btn-success" />
    </form>
</body>