@using ChannelServices.ViewModels
@model AddChannelViewModel
<head>
</head>
<body>
    <div asp-validation-summary="ModelOnly"></div>
    @if (Model.AllowToCreate == false)
    {
        <div>
            <h3 class="txt txt-danger">مشکلی رخ داد</h3>
            <ul>
                <li>مدت زمان اکانت ویژه شما به پایان رسیده است یا کلا آن را خریداری نکرده اید</li>
            </ul>
        </div>
    }
    else
    {
        <form method="post" asp-action="AddChannel" asp-controller="Channel" enctype="multipart/form-data"
                    class="col-xl-4 col-lg-6 col-md-8 col-sm-12">
            <div asp-validation-summary="ModelOnly">
                <p class="text-danger"></p>
            </div>
            <div>
                <label>عکس پروفایل(فرمت .jpg)</label>
                <input asp-for="Avatar" class="form-control" />
                <span asp-validation-for="Avatar" class="text-danger"></span>
                <p class="text-danger">
                    @ViewBag.AvatarFormatError
                </p>
                <p class="text-danger">
                    @ViewBag.ErrorInSaveAvatar
                </p>
            </div>
            <div>
                <label>نام</label>
                <input class="form-control" type="text" asp-for="Name" />
            </div>
            <div>
                <label>بیوگرافی یا توضیحات</label>
                <textarea class="form-control" type="text" asp-for="BioGraphy" ></textarea>
            </div>
            <br />
            <input type="submit" class="btn btn-success" value="ثبت کانال" />
        </form>
    }
</body>
