@using ChannelServices.ViewModels
@model EditProductViewModel
<head>

</head>
<body>
    @if (Model.AllowToEditProduct == false)
    {
        <h3>شما اکانت ویژه فعال ندارید</h3>
    }
    else
    {
        <div align="center">
            <div align="center" id="formBox" class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <h3 class="text-danger">@ViewBag.ErrorMessage</h3>
                <form asp-action="EditProduct" method="post">
                    <div align="right" id="Input-group">
                        <label>نام محصول</label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div align="right" id="Input-group">
                        <label>توضیحات</label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div id="Input-group" align="right">
                        <label>قیمت</label>
                        <input asp-for="Price" class="form-control">
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <br />
                    <input type="hidden" asp-for="ChannelId" />
                    <input type="hidden" asp-for="Id" />
                    <br />
                    <div align="right">
                        <input type="submit" class="btn btn-success" value="ذخیره تغییرات" />
                    </div>
                </form>
            </div>
        </div>

        <a class="btn btn-warning" asp-action="AddProductImage" asp-controller="Channel" asp-route-ProductId="@Model.Id">اضافه کردن عکس</a>
    }
</body>