@using ChannelServices.ViewModels
@model EditProductViewModel
<head>

</head>
<body>
    @if(Model.AllowToEditProduct == false)
    {
        <h3>شما اکانت ویژه فعال ندارید</h3>
    }
    else
    {
        <form method="post" asp-action="EditProduct" asp-controller="Channel" >
            
            <label>نام محصول</label>
            <input asp-for="ProductName" class="form-control">
            <span asp-validation-for="ProductName" class="text-danger"></span>
            <label>توضیحات</label>
            <input asp-for="ProductDescription" class="form-control">
            <span asp-validation-for="ProductDescription" class="text-danger"></span>
            <label>قیمت</label>
            <input asp-for="Price" class="form-control">
            <span asp-validation-for="Price" class="text-danger"></span>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
            <input type="hidden" asp-for="@Model.Id"/>
            <input type="hidden" asp-for="channelId" />
            <br />
            <input type="hidden" asp-for="CategoryId" />
            <input type="submit" class="btn btn-success" value="ذخیره تغییرات" />

        </form>

        <a class="btn btn-warning" asp-action="AddProductImage" asp-controller="Channel" asp-route-ProductId="@Model.Id">اضافه کردن عکس</a>
    }
</body>