<head>
    <title>چیزی یافت نشد</title>
    <style>
        NotFoundBox {
            margin-top: 10%;
        }

        #SearchBtnBox {
            display: inline-block;
            float: right;
        }

        #SearchTxtBox {
            display: inline-block;
            float: left;
        }

        #SearchTxt {
            border: 1px solid green;
            border-radius: 2px;
            background-color: white;
            display: inline-block;
            width: 80%;
            float: right;
        }


        #SearchBtn {
            background-color: white;
            border: unset;
            float: left;
        }

        #NotFoundImg {
            margin-top: 4rem;
        }

        #MessageBox {
            display: inline-block;
        }
    </style>
</head>
<body>
    <div align="center" id="NotFoundBox">
        <br />
        <img src="/Backgrounds/404 error with a landscape-amico.png" id="NotFoundImg" width="30%" height="30%" />
        <br />
        <div class="alert alert-warning" id="MessageBox">
            <h3>آدرس مورد نظر یافت نشد!</h3>
        </div>
    </div>
</body>