@using Microsoft.AspNetCore.Identity
@model List<IdentityRole>

<body>
    <div>
        @if (!Model.Any())
        {
            <h3 class="text-danger">هیچ مقامی یافت نشد</h3>
        }
        @foreach (var item in Model)
        {
            <div>
                <h4>@item.Name</h4>
            </div>

            <div>
                <form asp-action="DeletRole" asp-controller="ManageRoles" method="post" asp-route-RoleId="@item.Id">
                    <input type="submit" value="حذف مقام" class="btn btn-danger" />
                </form>
                <a class="btn btn-warning" asp-action="EditRole" asp-controller="ManageRoles" asp-route-RoleId="@item.Id">ویرایش مقام</a>
            </div>
        }
        <br />
        <a class="btn btn-primary" asp-action="AddRole" asp-controller="ManageRoles">اضافه کردن مقام</a>

    </div>
</body>